.next-step-button{
  margin-left:30%;
  width: 140px;
  height: 40px;
  font-size: 20px;
}
.orderBox{
  margin-left: 25%;
}
.form-description{
  color:black;
  font-size:20px;
}
#googleMap{
  width: 100px;
  height: 200px;
}
