.right-panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding-top: 35px;
  margin-left: 20px;
  padding-right: 0!important;
  padding-left: 0!important;
  flex-direction: column;
  min-width: 330px;
  width: 330px;
  height: 100%;
  background: #fff;
  z-index: 1000;

  .r1 {
    padding-bottom: 13px;

    .order-list-title {
      font-size: 20px;
      font-weight: 700;
      line-height: 17px;
      padding-left: 15px;
    }

    .clear-order {
      float: right;
      margin-top: 5px;
      cursor: pointer;
    }

    .clear-order-wrap {
      padding-right: 15px;
      font-size: 10px;
      line-height: 11px;
      font-weight: 400;
      color: rgba(0,0,0,.5);
    }
  }

  .r2 {
    //height: 100%;
    width: 100%;
    box-sizing: content-box;
    display: block!important;
  }

  .all-orders {
    margin-top: 15px;
    background-color: #F5F5F5;
    //height: 100%;

    .no-order-text {
      font-size: 16px;
      color: #4e4e4e;
      text-align: center;
      padding-top: 50px;
      padding-bottom: 20px;
    }

  }

  .order-state {
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,.1);
    width: 100%;
    box-sizing: content-box;
    display: block!important;


    .sum-title {
      font-weight: 700;
      font-size: 15px;
      margin-bottom: 15px;
    }
    .do-order-button {
      padding: 20px;
      padding-right: 40px;
    }

    .sum-number {
      font-weight: 700;
      font-size: 20px;
      float: right;
      padding-right: 30px;
      margin-bottom: 15px;
    }

  }


}