.top-panel {
  background: rgba(0, 0, 0, .8);
  z-index: 10;

  .site-icon {
    position: fixed;
    top: 0;
    background: #ea862e;
    z-index: 99;
    width: 100px;
    height: 90px;
    font-size: 19px;
    padding: 10px;
    padding-top: 15px;
    color: #fff;
    left: 9px;
    border-left: 1px solid #d16200;
    border-right: 1px solid #d16200;
    text-transform: uppercase;
    text-align: center;
  }

  .top-discount {
    top: 90px;
    transform: scaleY(-1);
  }

  .title-2{
    font-size: 25px;
  }

  .pizza-logo {
    color: #fff!important;
  }
}