<% include common/header.ejs %>


<div class="main-container  container-fluid">
    <div class="row">
        <div class="left-panel">
            <div class="orderBox row order-page-panel">
                <div class="left-panel1">
                    <div class="contact-form-1">
                        <div class="form-description">
                            Заповніть форму для замовлення:
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <form class="form-horizontal">
                                    <div class="form-group name-group">
                                        <label class="col-sm-2 control-label">Ім’я</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" id="inputName" placeholder="Ім’я та Прізвище">
                                        </div>
                            <span class="name-help-block" style="display:none">
                                Введіть тільки власне ім’я, без цифр
                            </span>
                                    </div>
                                    <div class="form-group phone-group">
                                        <label class="col-sm-2 control-label">Телефон</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" id="inputPhone" placeholder="+380994010999">
                                        </div>
                            <span class="phone-help-block" style="display:none">
                                Введіть номер телефону у форматі +380 або почніть з 0
                            </span>
                                    </div>
                                    <div class="form-group address-group">
                                        <label class="col-sm-2 control-label">Адреса</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" id="inputAdress" placeholder="Київ, вул. Спаська, 2">
                                        </div>
                            <span class="address-help-block" style="display:none">
                                Введіть адресу доставки піци
                            </span>
                                    </div>
                                </form>
                            </div>
                            <div class="about">
                                <div class="col-md-5 order-summary">
                                    <div class=" bs-callout bs-callout-warning">
                                        <h4>Інформація про замовлення</h4>
                                        <p class="order-summery-time">
                                            <b>Приблизний час доставки:</b> невідомий
                                        </p>
                                        <p class="order-summery-adress">
                                            <b>Адреса доставки:</b> невідома
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group next-step-wrap">
                                <div class="next-step-width">
                                    <button type="button" class="btn btn-warning next-step-button">
                                        Далі
                                        <i class="glyphicon glyphicon-chevron-right icon-white">
                                        </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include common/rightPanel.ejs %>
    </div>
</div>

<% include common/footer.ejs %>