<div class="right-panel">
    <div class="left-nav">
                <span class="order-list-title">
                    Замовлення
                </span>
        <button class="clear-order">Очистити замовлення</button>
    </div>

    <div class="all-orders">

    </div>

    <div class="order-state">
                <span class="sum-title" style="">
                    Сума замовлення
                </span>
                <span class="sum-number" style="">

                </span>
        <div class="do-order-button">
            <button type="button" class="btn btn-warning btn-lg btn-block button-order" id="order">
                Замовити
            </button>
            <button class="btn btn-warning btn-lg btn-block button-order" id="edit" type="button">Редагувати замовлення</button>
        </div>
    </div>
</div>